@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

    background-color: lightseagreen;
}

header {
    color: white;

    text-align: center;
}

section {
    background-color: white;

    width: 500px;

    margin: auto;

    padding: 20px;

    border-radius: 20px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
}

footer {
    color: white;

    text-align: center;
}